<div
  style="
    height: 100%;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
  "
>
  <h1 style="text-align: center">Micro16 extended instruction set compiler</h1>
  <div
    style="
      display: flex;
      justify-content: space-between;
      height: 90%;
      align-items: center;
      width: 100%;
    "
  >
  <app-editor (onInit)="initEditor($event)" style="width: 40%; height: 100%" [(content)]="preCompile"></app-editor>

  <app-editor (onInit)="initEditor($event)" style="width: 40%; height: 100%" [(content)]="postCompile"></app-editor>

    <!-- <ngx-monaco-editor [options]="editorOptions" (onInit)="initEditor($event)" [(ngModel)]="preCompile" style="width: 40%; height: 100%"></ngx-monaco-editor> -->

    <!-- <ngx-monaco-editor [options]="editorOptions" (onInit)="initEditor($event)" [(ngModel)]="postCompile" style="width: 40%; height: 100%" ></ngx-monaco-editor> -->

    <mat-card style="width: 15%;">
      <mat-card-header>
        <mat-card-title>Compiler</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <h3>Syntax</h3>
        <p>
          while &lt;condition&gt; 
        </p>

        <h3>Freie Register</h3>
        <p>Diese Register können vom Kompiler verwendet werden:</p>
        <section style="display: flex; flex-direction: column">
          <mat-checkbox
            [checked]="true"
            (change)="setRegister('R0', $event.checked)"
            >R0</mat-checkbox
          >
          <mat-checkbox
            [checked]="false"
            (change)="setRegister('R1', $event.checked)"
            >R1</mat-checkbox
          >
          <mat-checkbox
            [checked]="false"
            (change)="setRegister('R2', $event.checked)"
            >R2</mat-checkbox
          >
          <mat-checkbox
            [checked]="true"
            (change)="setRegister('R3', $event.checked)"
            >R3</mat-checkbox
          >
          <mat-checkbox
            [checked]="true"
            (change)="setRegister('R4', $event.checked)"
            >R4</mat-checkbox
          >
          <mat-checkbox
            [checked]="true"
            (change)="setRegister('R5', $event.checked)"
            >R5</mat-checkbox
          >
          <mat-checkbox
            [checked]="true"
            (change)="setRegister('R6', $event.checked)"
            >R6</mat-checkbox
          >
          <mat-checkbox
            [checked]="true"
            (change)="setRegister('R7', $event.checked)"
            >R7</mat-checkbox
          >
          <mat-checkbox
            [checked]="true"
            (change)="setRegister('R8', $event.checked)"
            >R8</mat-checkbox
          >
          <mat-checkbox
            [checked]="true"
            (change)="setRegister('R9', $event.checked)"
            >R9</mat-checkbox
          >
          <mat-checkbox
            [checked]="true"
            (change)="setRegister('R10', $event.checked)"
            >R10</mat-checkbox
          >
        </section>

        <br>

        <div style="display: flex; flex-direction: column;">
          <button mat-flat-button color="primary" style="width:100%" (click)="compile()">
            <mat-icon>play_arrow</mat-icon> Compile
          </button>
          <br>
          <button mat-stroked-button color="basic" style="width:100%" (click)="showSyntax()">
            <mat-icon>info</mat-icon> Starter Code
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <span>
    developed by Richard Wutscher - <a class="dark-link" href="https://github.com/rwutscher-tgm/Micro16_expanded_compiler">check out this project on github</a>
  </span>
</div>
